[Desktop Entry]
Name=dock launcher
Exec=plank --preferences
Icon={{home}}/.icons/Ardis-icon-theme/scalable/apps/plank.svg
Type=Application
NoDisplay=false
