[Unit]
Description=noVNC

[Service]
ExecStart=/root/.scripts/novnc.sh
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=noVNC

[Install]
WantedBy=multi-user.target
